body{
    background-color: lightblue;
}

h1{
    color: red;
    margin-left: 20px;
    border: 2px dotted tomato;
}

ul{
    list-style-image:url(https://mdn.mozillademos.org/files/11981/starsolid.gif);
}